/*
Prevents iOS from adjusting the text size after the
orientation changes, without disabling user zoom.
*/
html {
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	/*
	Extends footer background color when the body is short
	enough that it does not actually exceed the breakpoint
	height.
	*/
	background-color: var(--color-background);
	height: 100%;
}

body {
	overflow-x: hidden;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;

	cursor: default;
}

/*
Removes margin and padding from body and base elements.
*/
body,
ul,
ol,
li,
dl,
dt,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hgroup,
p,
blockquote,
figure,
form,
fieldset,
input,
legend,
pre,
abbr,
button {
	margin: 0;
	padding: 0;
}

/*
Resets font size, weight, and style.
*/
pre,
code,
address,
caption,
th,
figcaption {
	font-size: 1em;
	font-weight: normal;
	font-style: normal;
}

/*
Removes borders from `fieldsets`/`iframes`.
*/
fieldset, iframe {
  	border: 0;
}

/*
Resets the default 'center' alignment on elements.
*/
caption, th {
  	text-align: left;
}

/*
Removes spaces between table cells.
*/
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*
Normalizes vertical alignment of `progress`.
*/
audio,
video,
canvas,
progress {
	vertical-align: baseline;
}

/*
Removes form-like styles from the `button` element.
*/
button {
	background: none;
	border: 0;
	box-sizing: content-box;
	color: inherit;
	cursor: pointer;
	font: inherit;
	line-height: inherit;
	vertical-align: inherit;
}
button:disabled {
	cursor: default;
}

/*
Resets focus.
*/
:focus {
	outline: none;
}

/*
Removes form-specific Firefox focus styles.
*/
::-moz-focus-inner {
	border: 0;
	padding: 0;
}
